:root {
  --breakpoint-landscape-xsmall: 480;
  --breakpoint-landscape-small: 600;
  --breakpoint-landscape-small: 720;
  --breakpoint-landscape-small: 840;
  --breakpoint-landscape-small: 960;
  --breakpoint-landscape-medium: 1024;
  --breakpoint-landscape-medium: 1280;
  --breakpoint-landscape-large: 1440;
  --breakpoint-landscape-large: 1600;
  --breakpoint-landscape-xlarge: 1920;

  --breakpoint-portrait-xsmall: 360;
  --breakpoint-portrait-xsmall: 400;
  --breakpoint-portrait-xsmall: 480;
  --breakpoint-portrait-small: 600;
  --breakpoint-portrait-small: 720;
  --breakpoint-portrait-small: 840;

  /* margins
  8px
  16px
  24px
  40px
  gutter
  8px
  16px
  24px
  40px */
}
